h1 {
    background-color: lightblue;
    height: 55px;
    color: indigo;
    text-align: center;
}

h2 {
    background-color: transparent;
    height: 55px;
    color:  transparent;
    text-align: center;
}

body {
    padding-top: 250px;
}

.container-fluid {
    padding: 0px;
}

footer h1 {
    margin-bottom: 0;
}